<br>
<div class="row">
    <div class="col-lg-8">
        <h6>Definición del indicador</h6>
        <p>{{definicionIndicador}}</p>
        <hr>
        <h6>Fórmula de cálculo</h6>
        <p>{{formulaCalculo}}</p>
        <hr>
        <h6>Descripción de la fórmula</h6>
        <p>{{descripcionFormula}}</p>
        <hr>
        <h6>Unidad de medición del indicador / Dimensiones</h6>
        <p>{{unidadMedicion}}</p>
        <hr>
        <h6>Tipo de indicador (familia)</h6>
        <p>{{tipoIndicador}}</p>
        <hr>
        <h6>Nivel de desagregación (nacional, regional, sectorial)</h6>
        <p>{{nivelDesagregacion}}</p>
        <hr>
        <h6>Período (y frecuencia) de disponibilidad</h6>
        <p>{{perdiodoDisponibilidad}}</p>
        <hr>
    </div>
    <div class="col-lg-4">
        <div class="tarjeta">
            <div class="tarjeta-image">
                <img src="./assets/images/tarjeta.jpg">
            </div>
            <div class="tarjeta-datos">
                <h5>Ficha indicador</h5>
                <div>Documento</div>
                <div>PDF | 11.3KB</div>
                <a [href]="fichaUrl" target="_blank" download>
                    <button class="btn btn-dark">Descargar</button>
                </a>
            </div>
        </div>
    </div>
</div>